@page "/"
@inject DataClientService _dataClientService
@rendermode InteractiveServer
<PageTitle>Home Screen</PageTitle>
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="home-container">
    <div class="current-stats-container">
        <div class="temp-container">
            <span class="temp-display">
                @_currentTemp
            </span>
        </div>
        <div class="other-stats-container">
            <div class="info-row">
                <span>Relative Humidity</span>
                <span class="other-stat-text">@_currentHumidity</span>
            </div>
            <div class="info-row">
                <span>Altitude</span>
                <span class="other-stat-text">@_currentAltitude</span>
            </div>
            <div class="info-row">
                <span>Pressure</span>
                <span class="other-stat-text">@_currentPressure</span>
            </div>
        </div>
    </div>
    <div class="stats-over-time-container">
        @for (var i = 0; i < _charts.Count; i++)
        {
            <ChartDisplay Categories="_charts[i].Categories" Interval="_charts[i].Interval" IsContinuous="_charts[i].IsContinuous" From="_charts[i].From" To="_charts[i].To" Index="i" />
        }
    </div>
    <MudButton EndIcon="@Icons.Material.Filled.Add" Variant="Variant.Outlined" FullWidth="true" OnClick="AddNewChart">
        Add new chart
    </MudButton>
</div>

@code {
    private string _currentTemp { get; set; } = "23.5";
    private string _currentHumidity { get; set; } = "26";
    private string _currentAltitude { get; set; } = "1";
    private string _currentPressure { get; set; } = "1025";
    private List<ValueEntry> _tempEntries = new List<ValueEntry>();
    private List<ChartEntry> _charts = new List<ChartEntry>();
    private readonly LocalDataStoreService _localDataStoreService = new LocalDataStoreService();

    protected override void OnInitialized()
    {
        _charts = _localDataStoreService.GetCharts().OrderBy(x => x.Index).ToList();
        if (!_charts.Any())
        {
            AddNewChart();
        }

        UpdateHomeScreen();
        _dataClientService.DeviceStatusChanged += OnDeviceStatusChanged;
    }

    private void OnDeviceStatusChanged(object sender, EventArgs e)
    {
        UpdateHomeScreen();
    }   

    private void UpdateHomeScreen()
    {
        _currentTemp = _dataClientService.GetTemperature();
        _currentHumidity = _dataClientService.GetHumidity();
        _currentAltitude = _dataClientService.GetAltitude();
        _currentPressure = _dataClientService.GetPressure();
        InvokeAsync(StateHasChanged);
    }

    private void AddNewChart()
    {
        var chart = new ChartEntry()
        {
            Categories = new List<string>() { "temperature" },
            From = DateTime.Today.AddDays(-1),
            To = DateTime.Today.AddDays(1),
            Index = 0,
            Interval = ChartIntervalEnum.Hours,
            IsContinuous = false
        };

        _charts.Add(chart);
        InvokeAsync(StateHasChanged);
    }
}