@page "/settings"
@rendermode InteractiveServer
<PageTitle>Settings</PageTitle>
<MudThemeProvider />
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<h3>Settings</h3>
<p>This is the settings page, why would you think this is anything else?</p>

<p>You can set units here, maybe the system colour, interval of probing values from the sensor and who knows what else :)</p>
@code {

}
